[submodule ".vim/pack/foo/start/vim-airline"]
	path = .vim/pack/foo/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/foo/start/bundle/dracula-theme"]
	path = .vim/pack/foo/start/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
