[submodule ".vim/pack/foo/start/nerdtree"]
	path = .vim/pack/foo/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/foo/start/ctrlp.vim"]
	path = .vim/pack/foo/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/pack/foo/start/syntastic"]
	path = .vim/pack/foo/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/foo/start/vim-airline"]
	path = .vim/pack/foo/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/foo/start/vim-fugitive"]
	path = .vim/pack/foo/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
