" https://github.com/JetBrains/ideavim
" Features list
" https://github.com/JetBrains/ideavim/blob/master/src/com/maddyhome/idea/vim/package-info.java"
source ~/.vimrc
set multiple-cursors
set surround
set multiple-cursors
set commentary

" :actionlist [pattern]
" :action {name}
nnoremap ]l :action GotoNextError<CR>
nnoremap [l :action GotoPreviousError<CR>
nnoremap + :action TableResult.GrowSelection<CR>
nnoremap _ :action EditorUnSelectWord<CR>

inoremap <C-y> <C-[>a
nnoremap <leader>` :action ActivateTerminalToolWindow<CR>
nnoremap <space>l :action ActivateTerminalToolWindow<CR>
nnoremap <leader>l :action ActivateTerminalToolWindow<CR>
